<!-- article list -->
<ul class="list-group">
	<li class="list-group-item"><a href="">1.xxxxxxxxxxxx</a></li>
	<li class="list-group-item"><a href="">1.xxxxxxxxxxxx</a></li>
	<li class="list-group-item"><a href="">1.xxxxxxxxxxxx</a></li>
	<li class="list-group-item"><a href="">1.xxxxxxxxxxxx</a></li>
	<li class="list-group-item"><a href="">1.xxxxxxxxxxxx</a></li>
	<li class="list-group-item"><a href="">1.xxxxxxxxxxxx</a></li>
	<li class="list-group-item"><a href="">1.xxxxxxxxxxxx</a></li>
	<li class="list-group-item"><a href="">1.xxxxxxxxxxxx</a></li>
	<li class="list-group-item"><a href="">1.xxxxxxxxxxxx</a></li>
	<li class="list-group-item"><a href="">1.xxxxxxxxxxxx</a></li>
	<li class="list-group-item"><a href="">1.xxxxxxxxxxxx</a></li>
	<li class="list-group-item"><a href="">1.xxxxxxxxxxxx</a></li>
</ul>