<!--  ####################################################################navbar -->
<div id="navbar" class="navbar navbar-default">
	<div class="navbar-header">
		<a class="navbar-brand" href="#">Project name</a>
	</div>
	<div class="navbar-collapse collapse">
		<ul class="navbar-nav nav">
			<li class="active"><a href="">Home</a></li>
			<li class="dropdown">
				<a href="" class="dropdown-toggle" data-toggle="dropdown">Programing</a>
				<ul class="dropdown-menu">
					<li><a href="">A</a></li>
					<li><a href="">B</a></li>
					<li><a href="">C</a></li>
					<li class="divider"></li>
					<li class="dropdown-header">another thing</li>
					<li><a href="">D1</a></li>
					<li><a href="">D2</a></li>
					<li><a href="">D3</a></li>						
				</ul>
			</li>
			<li><a href="">Works</a></li>
			<li><a href="">Anime</a></li>
			<li><a href="">Music</a></li>

		</ul>
		<ul class="navbar-nav nav navbar-right">
			<li><a href="../about.html">aboutMe</a></li>
			<li><a href="../sigin.html">Signin</a></li>
		</ul>
	</div>
</div>
